* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 1) 85%
    ),
    radial-gradient(
      ellipse at top left,
      rgba(13, 110, 253, 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(255, 228, 132, 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center right,
      rgba(112, 44, 249, 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center left,
      rgba(214, 51, 32, 0.5),
      transparent 50%
    );
  overflow-x: hidden;
}
.parent-div {
  min-height: 100vh;
  padding: 0;
}
.index-navbar {
  background: transparent;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%),
    inset 0 -1px 0 rgb(255 255 255 / 15%);
  background-image: linear-gradient(
    to bottom,
    rgba(113, 44, 249, 1),
    rgba(113, 44, 249, 0.95)
  );
  padding: 0.75rem 0;
}
.nav-link {
  text-align: center;
  color: rgb(230, 228, 228) !important;
  font-weight: 400;
}
.nav-link:hover {
  color: #fff !important;
}
.paginate_selectbox h6 {
  margin-bottom: 0;
}
.error_text {
  color: rgb(197, 19, 55);
  font-weight: 600;
}
.id_div {
  padding: 0 !important;
}

.table_div {
  max-height: 55vh;
  z-index: 1;
  background-color: rgb(252, 248, 248);
  /* padding: 0 0.75rem; */
}
.table_head {
  background-color: rgb(240 224 163 / 43%);
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgb(254 254 222 / 50%);
}
.paginate_m_div {
  margin-right: 0;
}
.pagination {
  margin-top: 80px;
}

.site-footer {
  position: sticky;
  top: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #fff;
  background: transparent;
  box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 15%),
    inset 0 1px 0 rgb(255 255 255 / 15%);
  background-image: linear-gradient(
    to bottom,
    rgba(113, 44, 249, 1),
    rgba(113, 44, 249, 0.95)
  );
}
